.container {
    display        : inline-flex;
    flex-direction : column;
    width          : 100%;

    .row {
        align-items : center;
        min-height  : 30px;

        .label {
            flex : 3;
        }

        .input {
            flex : 5;
        }

        .button {
            flex : 1;
        }
    }

    gap            : var(--offset-small);

    &.disable {
        opacity : .8;

        button {
            display : none;
        }

        button, select, input, label, [data-is-input="true"] {
            pointer-events : none;
        }
    }
}