.container {
    width          : 600px;
    max-width      : 100%;
    display        : flex;
    flex-direction : column;
    gap            : var(--offset-medium);

    .logger {
        max-height : 140px;
    }

    .box {
        border-left  : 1px dotted var(--border-color);
        padding-left : var(--offset-big);
    }
}