.container {
    width           : 100%;
    border-collapse : separate;
    border-spacing  : var(--offset-small) 0;

    .empty {
        color   : var(--text-color-invisible);
        padding : var(--offset-small);

        > td {
            text-align : center;
        }
    }

    th {
        background    : var(--bg-second);
        transition    : var(--transition-fast);
        border-radius : var(--offset-small);

        &.success {
            background : var(--success-color);
            color      : var(--on-success-color);

            &:before {
                content       : '✓';
                padding-right : var(--offset-small);
                user-select   : none;
            }
        }

        &.error {
            background : var(--danger-color);
            color      : var(--on-danger-color);

            &:before {
                content       : 'x';
                padding-right : var(--offset-small);
                user-select   : none;
            }
        }

        &:hover:not(.success):not(.error) {
            cursor     : pointer;
            background : var(--primary-color);
            color      : var(--on-primary-color);
        }

        & > *:not(:last-child) {
            padding-right : var(--offset-small);
        }
    }

    th, td {
        padding : var(--offset-small);
    }
}