.container {
    .input {
        display   : block;
        width     : 100%;
        max-width : 300px;
    }

    &.disable {
        opacity : .6;

        > .input {
            pointer-events : none;
        }
    }
}