.container {
    display        : flex;
    flex-direction : row;
    gap            : var(--offset-small);
    align-items    : start;

    &.disable > .content > summary > .data {
        opacity : .6;
    }

    .select {
        width : 50px !important;
    }

    .headerSelect {
        width   : fit-content;
        padding : 0 25px 0 var(--offset-small);
        border  : none;
        height  : calc(30px - var(--offset-extra-small) * 2);
    }

    .content {
        flex : 1;

        .data {
            display         : flex;
            flex-direction  : row;
            justify-content : space-between;
            flex            : 1;
            align-items     : center;
            min-height      : 30px;
            gap             : var(--offset-small);
            padding         : var(--offset-extra-small) var(--offset-small);

            & > * {
                &:nth-child(1) {
                    text-align : left;
                    flex       : 2;
                }

                &:nth-child(2) {
                    text-align    : center;
                    flex          : 1;
                    padding       : var(--offset-extra-small);
                    border        : 1px solid var(--border-color);
                    border-radius : var(--offset-small);
                    color         : var(--color-dark-gray);
                }

                &:nth-child(3) {
                    text-align : right;
                    flex       : 2;
                }
            }
        }

        .rows {
            padding-top : var(--offset-small);
        }
    }

    &.invalid {
        & > .content > summary > .data > *:nth-child(2) {
            border : 1px solid var(--danger-color);
            color  : var(--danger-color);
        }
    }
}