:root {
    --bg-main            : var(--color-white);
    --bg-main-opacity    : var(--color-white-opacity);
    --bg-inverse-opacity : var(--color-dark-black-opacity);
    --bg-second          : var(--color-light-gray);
    --border-color       : var(--color-gray);
    --primary-color      : var(--color-blue);
    --on-primary-color   : var(--color-white);
    --danger-color       : var(--color-red);
    --on-danger-color    : var(--color-white);
    --success-color      : var(--color-green);
    --on-success-color   : var(--color-white);
}