.container {
    width: 30px;
    overflow: hidden;
    border-radius: var(--offset-small);
    font-size: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: var(--transition-fast);

    &.idle {
        background: var(--bg-second);
        color: var(--color-gray);
        border: 1px solid var(--bg-second);

        &:before {
            content: 'idl';
        }
    }

    &.waiting {
        background: var(--bg-second);
        color: var(--color-gray);
        border: 1px solid var(--bg-second);

        &:before {
            content: 'wai';
        }
    }

    &.process {
        background: var(--bg-main);
        border: 1px solid var(--bg-second);

        &:before {
            content: 'pro';
        }
    }

    &.success {
        background: var(--success-color);
        color: var(--on-success-color);
        border: 1px solid var(--success-color);

        &:before {
            content: 'suc';
        }
    }

    &.error {
        background: var(--danger-color);
        color: var(--on-danger-color);
        border: 1px solid var(--danger-color);

        &:before {
            content: 'err';
        }
    }
}