@keyframes process {
    0% {
        opacity : .7;
    }
    50% {
        opacity : .4;
    }
    100% {
        opacity : .7;
    }
}

@keyframes rotate360 {
    0% {
        transform : rotate(0deg);
    }
    50% {
        transform : rotate(180deg);
    }
    100% {
        transform : rotate(360deg);
    }
}

.container {
    display        : flex;
    flex-direction : row;
    gap            : var(--offset-small);
    align-items    : start;

    &.processAction > .content {
        button, select, input, textarea, [data-is-input="true"] {
            pointer-events : none;
            opacity        : .6;
            cursor         : default;
        }
    }


    &.disable > .content > summary > .data {
        & > input {
            pointer-events : none;
            opacity        : .4;
            cursor         : default;
        }
    }

    .select {
        width : 50px !important;
    }

    .state {
        width           : 50px;
        height          : 30px;
        display         : flex;
        align-items     : center;
        justify-content : center;
        border-radius   : var(--offset-small);

        &.idle {
            background : var(--bg-second);
            border     : 1px solid var(--border-color);

            &:after {
                content : '...';
            }
        }

        &.process {
            background : var(--bg-second);
            border     : 1px solid var(--border-color);
            animation  : process infinite ease-in-out .5s;

            &:after {
                content       : '';
                width         : 14px;
                height        : 14px;
                border-radius : 50%;
                border-left   : 1px solid var(--bg-inverse-opacity);
                animation     : rotate360 infinite ease-in-out .5s;
            }
        }

        &.success {
            background : var(--success-color);
            border     : 1px solid var(--success-color);
            color      : var(--on-success-color);

            &:after {
                content : 'ok';
            }
        }

        &.error {
            background : var(--danger-color);
            border     : 1px solid var(--danger-color);
            color      : var(--on-danger-color);

            &:after {
                content : 'err';
            }
        }
    }

    .headerSelect {
        width   : fit-content;
        padding : 0 25px 0 var(--offset-small);
        border  : none;
        height  : calc(30px - var(--offset-extra-small) * 2);
    }

    .content {
        flex : 1;

        .data {
            display         : flex;
            flex-direction  : row;
            justify-content : space-between;
            flex            : 1;
            align-items     : center;
            min-height      : 30px;
            gap             : var(--offset-small);

            & > * {
                &:nth-child(1) {
                    text-align : left;
                    flex       : 2;
                }

                &:nth-child(2) {
                    text-align    : center;
                    flex          : 1;
                    padding       : var(--offset-extra-small);
                    border        : 1px solid var(--border-color);
                    border-radius : var(--offset-small);
                    color         : var(--color-dark-gray);
                }

                &:nth-child(3) {
                    text-align : right;
                    flex       : 2;
                }
            }
        }

        .rows {
            padding-top : var(--offset-small);
        }
    }

    &.invalid {
        & > .content > summary > .data > *:nth-child(2) {
            border : 1px solid var(--danger-color);
            color  : var(--danger-color);
        }
    }
}