.container {
    padding         : var(--offset-medium);
    border-radius   : var(--offset-medium);
    display         : flex;
    align-items     : center;
    justify-content : space-between;

    .label {
        opacity : .8;
    }

    &.valid {
        background : var(--success-color);
        color      : var(--on-success-color);
    }

    &.warning {
        background : var(--warning-color);
        color      : var(--on-warning-color);
    }

    &.critical {
        background : var(--danger-color);
        color      : var(--on-danger-color);
    }
}