.container {
    display        : flex;
    flex-direction : column;
    gap            : var(--offset-small);
    transition     : var(--transition-fast);

    .title {
        font-size      : 12px;
        color          : var(--color-dark-gray);
        font-weight    : normal;
        margin         : 0;
        padding-bottom : var(--offset-small);
        border-bottom  : 1px dashed var(--border-color);
    }

    &.disabled {
        cursor      : default;
        user-select : none;
        background  : repeating-linear-gradient(45deg, var(--bg-main), var(--bg-main) 20px, var(--bg-second) 20px, var(--bg-second) 25px);

        button, select, input, label {
            pointer-events : none;
        }

        & > * {
            opacity : .6;
        }
    }
}