.container {
    overflow : visible;

    &.main {
        background    : var(--bg-main);
        border-radius : var(--offset-small);
    }

    &.second {
        background    : var(--bg-second);
        border-radius : var(--offset-small);
    }

    & > summary {
        position      : relative;
        transition    : var(--transition-fast);
        cursor        : pointer;
        margin-bottom : 0;

        &:after {
            content     : '▼';
            position    : absolute;
            width       : calc(100% - var(--offset-big));
            height      : var(--offset-extra-small);
            top         : 100%;
            left        : var(--offset-medium);
            transition  : var(--transition-fast);
            text-align  : center;
            color       : var(--color-dark-gray);
            line-height : 6px;
            font-size   : 7px;
            transform   : translateY(0);
        }
    }

    &:hover {
        & > summary {
            &:after {
                color : var(--color-dark-black-opacity);
            }
        }
    }

    & > div {
        visibility : hidden;
        opacity    : 0;
        transition : var(--transition-fast);
    }

    &[open] {
        & > summary {
            margin-bottom : var(--offset-medium);

            &:after {
                content   : '▲';
                color     : var(--color-black);
                transform : translateY(5px);
            }
        }

        & > div {
            visibility : visible;
            opacity    : 1;
        }
    }

    & > *:nth-child(2) {
        padding : var(--offset-small);
    }
}