.container {
    display        : flex;
    flex-direction : column-reverse;
    gap            : var(--offset-extra-small);
    max-height     : 400px;
    background     : var(--color-black);
    padding        : var(--offset-small);
    overflow       : auto;
    border-radius  : var(--offset-small);
    font-family    : Consolas, monospace;

    .success {
        color       : var(--success-color);
        font-weight : bold;
    }

    .error {
        color       : var(--danger-color);
        font-weight : bold;
    }

    .neutral {
        color : var(--color-dark-gray);
    }
}