.container {
    display        : flex;
    flex-direction : column;
    gap            : var(--offset-small);

    &.disable,
    &.toggleDisable > .children {
        cursor      : default;
        user-select : none;
        background  : repeating-linear-gradient(45deg, var(--bg-main), var(--bg-main) 20px, var(--bg-second) 20px, var(--bg-second) 25px);

        button, select, input {
            pointer-events : none;
        }

        & > * {
            opacity : .6;
        }
    }
}