.container {
    color       : var(--color-black);
    font-weight : bold;
    white-space : wrap;
    word-wrap   : anywhere;

    &.empty {
        color      : var(--color-gray);
        font-style : italic;
    }

    &.isNotValue {
        font-weight : normal;
    }
}