@keyframes loadingAnimation {
    0% {
        opacity : .7;
    }
    50% {
        opacity : .4;
    }
    100% {
        opacity : .7;
    }
}

.container {
    padding       : var(--offset-extra-small) var(--offset-small);
    border-radius : var(--offset-small);
    background    : var(--bg-second);
    color         : var(--color-black);
    border        : 1px solid var(--border-color);
    outline       : none;
    transition    : var(--transition-fast);
    height        : 30px;
    min-height    : fit-content;
    font-weight   : normal;

    &:hover {
        background : var(--bg-main);
        cursor     : pointer;
    }

    &.primary {
        border     : 1px solid var(--primary-color);
        background : var(--primary-color);
        color      : var(--on-primary-color);

        &:hover {
            background : var(--color-black);
        }
    }

    &.danger {
        border     : 1px solid var(--danger-color);
        background : var(--danger-color);
        color      : var(--on-primary-color);

        &:hover {
            background : var(--color-black);
        }
    }

    &.warning {
        border     : 1px solid var(--warning-color);
        background : var(--warning-color);
        color      : var(--on-warning-color);

        &:hover {
            background : var(--color-black);
            color      : var(--color-white);
        }
    }

    &.noWrap {
        white-space : nowrap;
    }

    &.fullWidth {
        width : 100%;
    }

    &.quad {
        width     : 30px;
        max-width : 30px;
        min-width : 30px;
    }

    &.loading {
        animation : loadingAnimation infinite ease-in-out .5s;
    }

    &.small {
        padding   : var(--offset-extra-small) var(--offset-small);
        height    : 20px;
        font-size : 10px;
    }

    &:focus {
        outline : 1px solid var(--primary-color);
    }

    &:disabled {
        pointer-events : none;
        opacity        : .5;
    }
}